In [1]:
#import pymysql
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime
from math import radians, cos, sin, asin, sqrt, pi
import time

In [2]:
#load sample csv
dataset = pd.read_csv('green_tripdata_2015_6months_cleaned.csv')
dataset

,trip_id,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance
0,0,2,2015-01-01 00:34:00,2015-01-01 00:38:00,-73.922592,40.754528,-73.913635,40.765522,1,0.88
1,1,2,2015-01-01 00:34:00,2015-01-01 00:47:00,-73.952751,40.677711,-73.981529,40.658978,1,3.08
2,2,1,2015-01-01 00:34:00,2015-01-01 00:38:00,-73.843010,40.719055,-73.846581,40.711567,1,0.90
3,3,2,2015-01-01 00:34:00,2015-01-01 00:38:00,-73.860825,40.757793,-73.854042,40.749821,1,0.85
4,4,2,2015-01-01 00:34:00,2015-01-01 01:09:00,-73.945183,40.783321,-73.989624,40.765450,1,4.91
...,...,...,...,...,...,...,...,...,...,...
5664137,6291445,2,2015-06-20 00:14:00,2015-06-20 00:29:00,-73.974670,40.675674,-74.024437,40.632187,2,5.12
5664138,6291446,2,2015-06-20 00:46:00,2015-06-20 00:58:00,-73.925591,40.827526,-73.901360,40.813095,1,2.06
5664139,6291447,2,2015-06-20 00:34:00,2015-06-20 00:56:00,-74.002174,40.686096,-73.946541,40.660374,1,4.77
5664140,6291448,2,2015-06-20 00:28:00,2015-06-20 00:38:00,-73.907410,40.836094,-73.919334,40.864067,1,3.66
5664141,6291449,2,2015-06-20 00:51:00,2015-06-20 00:57:00,-73.936539,40.820545,-73.948998,40.828224,1,1.04

In [3]:
dataset = dataset.sort_values(by = 'lpep_pickup_datetime')
dataset = dataset.sort_values(by = 'Lpep_dropoff_datetime')
dataset

,trip_id,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance
1551,1756,2,2015-01-01 00:00:00,2015-01-01 00:00:00,-73.961418,40.806293,-73.948746,40.823627,1,1.39
928,1037,2,2015-01-01 00:02:00,2015-01-01 00:02:00,-73.962280,40.710976,-73.961945,40.710575,1,0.02
1129,1261,2,2015-01-01 00:02:00,2015-01-01 00:02:00,-73.962280,40.710976,-73.961945,40.710575,1,0.02
1130,1262,2,2015-01-01 00:01:00,2015-01-01 00:03:00,-73.945656,40.790138,-73.941597,40.798737,1,0.89
1026,1145,2,2015-01-01 00:01:00,2015-01-01 00:03:00,-73.946648,40.682499,-73.949623,40.682560,1,0.18
...,...,...,...,...,...,...,...,...,...,...
527664,589527,2,2015-12-01 23:53:00,2015-12-01 23:59:00,-73.890945,40.746796,-73.868858,40.742237,1,1.33
527406,589248,2,2015-12-01 23:58:00,2015-12-01 23:59:00,-73.955795,40.818897,-73.951828,40.821140,1,0.32
527120,588936,2,2015-12-01 23:48:00,2015-12-01 23:59:00,-73.921967,40.840813,-73.862938,40.834293,1,5.65
526082,587794,2,2015-12-01 23:56:00,2015-12-01 23:59:00,-73.936348,40.803864,-73.934830,40.800678,1,0.31
527141,588959,2,2015-12-01 23:39:00,2015-12-01 23:59:00,-73.944374,40.714043,-73.959953,40.657242,1,4.92

In [4]:
#count total trips
print('total trips:', len(dataset))

total trips: 5664142

In [5]:
#count total distance/miles driven
print("\u0332".join('Total Distance Travelled:'), dataset['Trip_distance'].sum())

TÌ²oÌ²tÌ²aÌ²lÌ² Ì²DÌ²iÌ²sÌ²tÌ²aÌ²nÌ²cÌ²eÌ² Ì²TÌ²rÌ²aÌ²vÌ²eÌ²lÌ²lÌ²eÌ²dÌ²: 16363569.300000012

In [6]:
def distance(lat1, lon1, lat2, lon2): 
      
    # The math module contains a function named 
    # radians which converts from degrees to radians. 
    lon1 = radians(lon1) 
    lon2 = radians(lon2) 
    lat1 = radians(lat1) 
    lat2 = radians(lat2) 
       
    # Haversine formula  
    dlon = lon2 - lon1  
    dlat = lat2 - lat1 
  
    return (3956 * 2 * asin(sqrt(sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2)))
     
    # Radius of earth in kilometers. Use 3956 for miles 
    # calculate the result 
    # (c * r) 

def time_difference(time1, time2):
    time_diff = (time2 - time1)
    time_seconds = abs(time_diff.total_seconds())
    
    return time_seconds / 60.0

In [7]:
dataset['lpep_pickup_datetime'] = pd.to_datetime(dataset['lpep_pickup_datetime'])
dataset['Lpep_dropoff_datetime'] = pd.to_datetime(dataset['Lpep_dropoff_datetime'])

In [8]:
# dataset["time"]=dataset.Lpep_dropoff_datetime-dataset.lpep_pickup_datetime
# dataset["time"] = dataset["time"].apply(lambda x: x.days*24*60*60+x.seconds)  

# dataset = dataset[dataset["time"] != 0]

dataset['Average Speed (MPH)'] = dataset.apply(lambda row : row.Trip_distance / (time_difference(row.lpep_pickup_datetime, row.Lpep_dropoff_datetime) / 60.0), axis = 1)
dataset

ZeroDivisionError: float division by zero

In [ ]:
# passenger1_dataset = dataset[dataset.Passenger_count == 1].reset_index(drop=True)
# passenger2_dataset = dataset[dataset.Passenger_count == 2].reset_index(drop=True)

In [ ]:
# passenger1_dataset

In [ ]:
# passenger2_dataset

In [ ]:
# dataset1 = dataset[(dataset.lpep_pickup_datetime >= datetime(2015, 1, 1, 0,0,0)) & (dataset.lpep_pickup_datetime <= datetime(2015, 1, 30, 0,5,0))]
# dataset1.reset_index(drop=True)

In [ ]:
def distanceSaving(d1, d2, D):
    return d1 + d2 - D

In [ ]:
def o1o2d1d2(trip1, trip2, delay):
    o1o2 = distance(trip1['Pickup_latitude'], trip1['Pickup_longitude'], trip2['Pickup_latitude'], trip2['Pickup_longitude'])
    o2d1 = distance(trip2['Pickup_latitude'], trip2['Pickup_longitude'], trip1['Dropoff_latitude'], trip1['Dropoff_longitude'])
    d1d2 = distance(trip1['Dropoff_latitude'], trip1['Dropoff_longitude'], trip2['Dropoff_latitude'], trip2['Dropoff_longitude'])

    o2o1 = distance(trip2['Pickup_latitude'], trip2['Pickup_longitude'], trip1['Pickup_latitude'], trip1['Pickup_longitude'])
    o2d2 = distance(trip2['Pickup_latitude'], trip2['Pickup_longitude'], trip2['Dropoff_latitude'], trip2['Dropoff_longitude'])
    d2d1 = distance(trip2['Dropoff_latitude'], trip2['Dropoff_longitude'] ,trip1['Dropoff_latitude'], trip1['Dropoff_longitude'])


    o1d1 = distance(trip1['Pickup_latitude'], trip1['Pickup_longitude'], trip1['Dropoff_latitude'], trip1['Dropoff_longitude'])
    o1d2 = distance(trip1['Pickup_latitude'], trip1['Pickup_longitude'], trip2['Dropoff_latitude'], trip2['Dropoff_longitude'])
    
    dist_array = [o2d1, o2d2, o1d1, o1d2]

    #print("o1o2d: ",o1o2+o2d1+d1d2)
    #print("Trip distance: ",trip1['Trip_distance'] + trip2['Trip_distance'])
    #print(time_difference(trip1['Lpep_dropoff_datetime'], trip2['Lpep_dropoff_datetime']))
    trip_distance = trip1['Trip_distance'] + trip2['Trip_distance']

    if (o1o2 + o2d1 + d1d2 < trip_distance):
        if ( (time_difference(trip1['Lpep_dropoff_datetime'], trip2['Lpep_dropoff_datetime']) < delay) ):
            saving = distanceSaving(trip1['Trip_distance'], trip2['Trip_distance'], (o1o2 + o2d1 + d1d2 ))
            return True, saving
    else:
        return False

    if (o1o2 + o2d2 + d2d1 < trip_distance):
        if ( (time_difference(trip1['Lpep_dropoff_datetime'], trip2['Lpep_dropoff_datetime']) < delay) ):
            saving = distanceSaving(trip1['Trip_distance'], trip2['Trip_distance'], (o1o2 + o2d2 + d2d1 ))
            return True
    else:
            return False

    if (o2o1 + o1d1 + d1d2 < trip_distance):
        if ( (time_difference(trip1['Lpep_dropoff_datetime'], trip2['Lpep_dropoff_datetime']) < delay) ):
            saving = distanceSaving(trip1['Trip_distance'], trip2['Trip_distance'], (o2o1 + o1d1 + d1d2 ))
            return True
    else:
        return False

    if (o2o1 + o1d2 + d2d1 < trip_distance):
        if ( (time_difference(trip1['Lpep_dropoff_datetime'], trip2['Lpep_dropoff_datetime']) < delay) ):
            saving = distanceSaving(trip1['Trip_distance'], trip2['Trip_distance'], (o2o1 + o1d2 + d2d1 ))
            return True
    else:
        return False

  

      
# o1o2d1d2(dataset1.iloc[7], dataset1.iloc[0], 5)[1]

In [ ]:
# #BACKUP
# def shared_trips_eval(dataset, delay):
    
#     start = time.time()
#     rides = []
#     mergeable = []
#     for index1 in range(len(dataset)):
#         print(index1)
#         index2 = index1 + 1
#         while (index2 < len(dataset)):
#           if (dataset.iloc[index1][8] + dataset.iloc[index2][8] <= 3):

#             if (o1o2d1d2(dataset.iloc[index1], dataset.iloc[index2], delay)):
#               rides.append((dataset.iloc[index1][0], dataset.iloc[index2][0], o1o2d1d2(dataset.iloc[index1], dataset.iloc[index2], delay)[1]))
#           index2 = index2+ 1
    
#     #for i in range(len(rides)):
#      # i2 = i + 1
#       #while (i2 < len(rides)):
#        # if rides[i][0] == rides[i2][0]:
#           #if rides[i][2] > rides[i2][2]:
#             #del rides[i2]
#         #i2 = i2 + 1

#     time.sleep(1)
#     end = time.time()
#     print(f"Runtime of the program is {end - start}")
    
#     return rides
#     #

In [ ]:
# dataset1

In [ ]:
def shared_trips_eval(dataset, delay):
    
    start = time.time()
    rides = []
    mergeable = []
    for index1 in range(len(dataset)):
        if (index1 % 200 == 0): print(index1)
        index2 = index1 + 1
        while (index2 < len(dataset)):
            if (dataset.iloc[index1][8] + dataset.iloc[index2][8] <= 3):
                if (o1o2d1d2(dataset.iloc[index1], dataset.iloc[index2], delay)):
                    rides.append((dataset.iloc[index1][0], dataset.iloc[index2][0], o1o2d1d2(dataset.iloc[index1], dataset.iloc[index2], delay)[1]))
            index2 = index2+ 1
    
    #for i in range(len(rides)):
     # i2 = i + 1
      #while (i2 < len(rides)):
       # if rides[i][0] == rides[i2][0]:
          #if rides[i][2] > rides[i2][2]:
            #del rides[i2]
        #i2 = i2 + 1

    time.sleep(1)
    end = time.time()
    print(f"Runtime of the program is {end - start}")
    
    return rides
    #

In [ ]:
# dataset1.apply(o1o2d1d2(dataset.iloc[index1], dataset.iloc[index2], delay))

In [ ]:
start = time.time()
#for indices in dataset1.itertuples():
for indices in range(len(dataset1)):
    print(indices)


time.sleep(1)
end = time.time()
print(f"Runtime of the program is {end - start}")
  #vals = dataset1.iloc[indices][0]
  #print(vals)

In [ ]:
itertuple - 92 sec

In [ ]:
d = shared_trips_eval(dataset.head(800), 10)

In [ ]:
def removeDuplicates(lst): 
      
    return [t for t in (set(tuple(i) for i in lst))]

In [ ]:
def removeDuplicates2(lst): 
      
    return list(filter(lambda x: x[2] < 2.0, lst))

In [ ]:
cleaned = (removeDuplicates(d))
cleaned1 = removeDuplicates2(cleaned)

In [ ]:
total_distance_saved = 0
for i in range(len(cleaned1)):
  #print(cleaned1[i])
  total_distance_saved += (cleaned1[i][2])

print("miles saved:",total_distance_saved)

In [ ]:
100, delay = 5 -   miles saved: 224.84781944559455
100, delay = 10 -  miles saved: 376.0938153061874

1000, delay = 5 -  miles saved: 8793.487880496306
1000, delay = 10 - miles saved: 13238.493834166708





(1343, 1202, 3.211690362110497)
(1343, 813, 2.4622335581418238)
(1343, 1337, 1.2461636790785668)
(989, 1066, 0.8080665303622645)
(1150, 810, 0.5448660685648945)
(1150, 1032, 0.17819001369600063)
(1410, 1260, 8.16336848918447)
(1410, 1196, 4.316777342615181)
(810, 1032, 0.2712198130478032)
(1202, 813, 3.4616681270150114)
(1202, 962, 1.31973741208414)
(1202, 1337, 1.955356073312343)
(813, 962, 0.6418901098188012)
(813, 1337, 3.5848454750830037)
(1260, 1196, 5.80369649549537)
(1067, 993, 0.29607020587376454)
(1168, 1337, 1.740569119499722)
(1697, 1361, 1.6260302145609558)
(1146, 969, 0.19199120374088285)